
/**
*  Business Portal
*/    
.login-section {
    padding-top:120px; 
    padding-bottom:120px
}
.btn-login {
    border-radius: 10px !important;
    background-color: #EE2C2C !important;
}

.btn-login:hover {
    background-color: #ea0000 !important;
}

#business_number, #password {
	/* background: #dbdbdb; */
	border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

#login-container input {
    /* background: #dbdbdb; */
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

@media only screen and (max-width: 768px) {
    .login-section {
        padding-top:75px; 
        padding-bottom:100px
    }

    .portal-bg-cover {
        display: none;
    }
}