.big2 {
	font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    letter-spacing: 0px;
}

.main-category i{
    font-size: 30px;
}

.big {
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    letter-spacing: 0px;
}

.loadmore button {
    width: 50%;
    border-radius: 25px;
    margin: 20px auto 20px auto;
    background-color: #2d3a4c;
}
.wrap-bg{
    height:705 !important;
}
/* h3, h3 a, h3 a:hover {
	color: white;
} */

.featured_business :hover{
    color: #EE2C2C;
}
.dot {
    height: 15px;
    width: 15px;
    margin-bottom:-3px;
    margin-right: 3px;
    margin-left: 3px;
    background-color: #F3BB48;
    border-radius: 50%;
    display: inline-block;
}

.v2-input, .v2-textarea, .v2-select{
    border-radius:10px !important;
    padding-left:20px !important; 
    font-weight:700 !important; 
    color:#44056C !important;
}

.select2-container-multi .select2-choices {
    border-radius: 10px !important;
}

.input-social {
    border-bottom-left-radius:0 !important;
    border-top-left-radius:0 !important;
    border-bottom-right-radius:10px !important;
    border-top-right-radius:10px !important;
    padding-left:20px !important;
    font-weight:700 !important;
    color:#44056C !important;
}

.input-icon {
    background: #EE2C2C; 
    color: white; 
    min-width: 30px; 
    text-align: center!important; 
    font-size:18px; 
    padding-top: 5px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
@media only screen and (min-width: 768px) {
    /* desktop screen */
   .padding-des{
    padding-left: 30%;
    padding-right: 30%;
   }
   .mobile-app{
     margin-top:-120px;
   }
}


/* -------------------------------- 

File#: _1_3d-cards
Title: 3D Cards
Descr: Images in a 3D space
Usage: codyhouse.co/license

-------------------------------- */
.td-cards {
    position: relative;
    z-index: 1;
  }
  
  .td-cards__card > img {
    display: block;
    width: 100%;
  }
  
  .td-cards--v1 {
    --card-ratio: 400/700;
    width: 100%;
    height: 0;
    padding-bottom: calc(50%/(var(--card-ratio)));
  }
  .td-cards--v1 .td-cards__inner {
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    -webkit-perspective: 1000px;
            perspective: 1000px;
  }
  .td-cards--v1 .td-cards__card {
    width: 50%;
    border-radius: var(--radius-lg);
    overflow: hidden;
    pointer-events: auto;
    will-change: transform;
    -webkit-transform: rotateX(60deg) rotateZ(-60deg);
            transform: rotateX(60deg) rotateZ(-60deg);
    transition-property: top, -webkit-transform;
    transition-property: transform, top;
    transition-property: transform, top, -webkit-transform;
    transition-duration: 0.4s;
    transition-timing-function: var(--ease-out);
  }
  .td-cards--v1 .td-cards__card:nth-child(1) {
    position: relative;
    z-index: 1;
    box-shadow: 0 0px 0.2px rgba(0, 0, 0, 0.02), 0 0px 0.5px rgba(0, 0, 0, 0.028), 0 0px 1px rgba(0, 0, 0, 0.035), 0 0px 1.8px rgba(0, 0, 0, 0.042), 0 0px 3.3px rgba(0, 0, 0, 0.05), 0 0px 8px rgba(0, 0, 0, 0.07);
  }
  .td-cards--v1 .td-cards__card:nth-child(2),
  .td-cards--v1 .td-cards__card:nth-child(3) {
    position: absolute;
  }
  .td-cards--v1 .td-cards__card:nth-child(2) {
    z-index: 2;
    top: calc(-10% - var(--top-offset, 0%));
    box-shadow: 0 0px 1.1px rgba(0, 0, 0, 0.02), 0 0px 2.5px rgba(0, 0, 0, 0.028), 0 0px 4.8px rgba(0, 0, 0, 0.035), 0 0px 8.5px rgba(0, 0, 0, 0.042), 0 0px 15.9px rgba(0, 0, 0, 0.05), 0 0px 38px rgba(0, 0, 0, 0.07);
  }
  .td-cards--v1 .td-cards__card:nth-child(3) {
    z-index: 3;
    top: calc(-20% - var(--top-offset, 0%));
    box-shadow: 0 0px 2.4px rgba(0, 0, 0, 0.022), 0 0px 5.9px rgba(0, 0, 0, 0.032), 0 0px 11px rgba(0, 0, 0, 0.04), 0 0px 19.7px rgba(0, 0, 0, 0.048), 0 0px 36.8px rgba(0, 0, 0, 0.058), 0 0px 88px rgba(0, 0, 0, 0.08);
  }
  .td-cards--v1 .td-cards__card:hover ~ * {
    --top-offset: 15%;
  }
  
  .td-cards--v2 {
    --card-ratio: 585/960;
    width: 100%;
    height: 0;
    padding-bottom: calc(0%/(var(--card-ratio)) + 10%);
  }
  .td-cards--v2 .td-cards__inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-perspective: 1500px;
            perspective: 1500px;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }
  .td-cards--v2 .td-cards__card {
    position: absolute;
    width: 50%;
    border-radius: var(--radius-lg);
    overflow: hidden;
    box-shadow: var(--shadow-md);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transform: translate3d(0);
            transform: translate3d(0);
    will-change: transform;
    transition: -webkit-transform 0.4s var(--ease-out);
    transition: transform 0.4s var(--ease-out);
    transition: transform 0.4s var(--ease-out), -webkit-transform 0.4s var(--ease-out);
  }
  .td-cards--v2 .td-cards__card:nth-child(1) {
    z-index: 1;
    -webkit-transform: translateX(-30%) rotateY(45deg);
            transform: translateX(-30%) rotateY(45deg);
  }
  .td-cards--v2 .td-cards__card:nth-child(2) {
    z-index: 2;
    -webkit-transform: translateX(30%) rotateY(45deg);
            transform: translateX(30%) rotateY(45deg);
  }
  .td-cards--v2:hover .td-cards__card:nth-child(1) {
    -webkit-transform: translateY(-5%) translateX(-30%) rotateY(0deg);
            transform: translateY(-5%) translateX(-30%) rotateY(0deg);
  }
  .td-cards--v2:hover .td-cards__card:nth-child(2) {
    -webkit-transform: translateY(5%) translateX(30%) rotateY(0deg);
            transform: translateY(5%) translateX(30%) rotateY(0deg);
  }
  
  .td-cards--v3 {
    --card-ratio: 960/640;
    width: 100%;
    height: 0;
    padding-bottom: calc(100%/(var(--card-ratio)));
    -webkit-perspective: 1500px;
            perspective: 1500px;
  }
  .td-cards--v3 .td-cards__inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    -webkit-transform: rotateX(45deg);
            transform: rotateX(45deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    will-change: transform;
    transition: -webkit-transform 0.4s var(--ease-out);
    transition: transform 0.4s var(--ease-out);
    transition: transform 0.4s var(--ease-out), -webkit-transform 0.4s var(--ease-out);
  }
  .td-cards--v3 .td-cards__card {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    border-radius: var(--radius-lg);
    overflow: hidden;
    box-shadow: var(--shadow-md);
    will-change: transform;
    transition: -webkit-transform 0.4s var(--ease-out);
    transition: transform 0.4s var(--ease-out);
    transition: transform 0.4s var(--ease-out), -webkit-transform 0.4s var(--ease-out);
  }
  .td-cards--v3 .td-cards__card:nth-child(1) {
    -webkit-transform: translateZ(-50px);
            transform: translateZ(-50px);
    box-shadow: 0 0px 0.2px rgba(0, 0, 0, 0.02), 0 0px 0.5px rgba(0, 0, 0, 0.028), 0 0px 1px rgba(0, 0, 0, 0.035), 0 0px 1.8px rgba(0, 0, 0, 0.042), 0 0px 3.3px rgba(0, 0, 0, 0.05), 0 0px 8px rgba(0, 0, 0, 0.07);
  }
  .td-cards--v3 .td-cards__card:nth-child(2) {
    box-shadow: 0 0px 1.1px rgba(0, 0, 0, 0.02), 0 0px 2.5px rgba(0, 0, 0, 0.028), 0 0px 4.8px rgba(0, 0, 0, 0.035), 0 0px 8.5px rgba(0, 0, 0, 0.042), 0 0px 15.9px rgba(0, 0, 0, 0.05), 0 0px 38px rgba(0, 0, 0, 0.07);
  }
  .td-cards--v3 .td-cards__card:nth-child(3) {
    -webkit-transform: translateZ(50px);
            transform: translateZ(50px);
    box-shadow: 0 0px 2.4px rgba(0, 0, 0, 0.022), 0 0px 5.9px rgba(0, 0, 0, 0.032), 0 0px 11px rgba(0, 0, 0, 0.04), 0 0px 19.7px rgba(0, 0, 0, 0.048), 0 0px 36.8px rgba(0, 0, 0, 0.058), 0 0px 88px rgba(0, 0, 0, 0.08);
  }
  .td-cards--v3:hover .td-cards__inner {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  .td-cards--v3:hover .td-cards__card:nth-child(1),
  .td-cards--v3:hover .td-cards__card:nth-child(3) {
    -webkit-transform: translateZ(0px);
            transform: translateZ(0px);
  }
  
  .td-cards--v4, .td-cards--v5 {
    --card-ratio: 960/640;
    width: 100%;
    height: 0;
    padding-bottom: calc(100%/(var(--card-ratio)) + 10%);
  }
  .td-cards--v4 .td-cards__inner, .td-cards--v5 .td-cards__inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-perspective: 1500px;
            perspective: 1500px;
  }
  .td-cards--v4 .td-cards__card, .td-cards--v5 .td-cards__card {
    border-radius: var(--radius-lg);
    overflow: hidden;
    -webkit-transform: var(--rotation);
            transform: var(--rotation);
    -webkit-animation: td-card-v4-floating-anim 5s infinite;
            animation: td-card-v4-floating-anim 5s infinite;
  }
  .td-cards--v4 .td-cards__shadow, .td-cards--v5 .td-cards__shadow {
    position: absolute;
    bottom: -3.1em;
    width: 50%;
    left: 0%;
    height: 0.2em;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    -webkit-transform: scaleX(0.9);
            transform: scaleX(0.9);
    -webkit-filter: blur(5px);
            filter: blur(5px);
    -webkit-animation: td-card-shadow-anim 5s infinite;
            animation: td-card-shadow-anim 5s infinite;
  }
  .td-cards--v4 .td-cards__shadow::before, .td-cards--v5 .td-cards__shadow::before {
    content: "";
    position: absolute;
    border-radius: inherit;
    top: -5%;
    left: -5%;
    width: 110%;
    height: 110%;
    background-color: rgba(0, 0, 0, 0.15);
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
  
  .td-cards--v4 .td-cards__card {
    --rotation: rotate3d(0.5, 0.9, 0, 20deg);
  }
  
  .td-cards--v5 .td-cards__card {
    --rotation: rotate3d(0.5, -0.9, 0, 20deg);
  }
  
  @-webkit-keyframes td-card-v4-floating-anim {
    0%, 100% {
      -webkit-transform: translateY(0) var(--rotation);
              transform: translateY(0) var(--rotation);
    }
    50% {
      -webkit-transform: translateY(5%) var(--rotation);
              transform: translateY(5%) var(--rotation);
    }
  }
  
  @keyframes td-card-v4-floating-anim {
    0%, 100% {
      -webkit-transform: translateY(0) var(--rotation);
              transform: translateY(0) var(--rotation);
    }
    50% {
      -webkit-transform: translateY(5%) var(--rotation);
              transform: translateY(5%) var(--rotation);
    }
  }
  