#Footer{
    padding-bottom: 50px;
  }
  
  .icon-up-open-big{
      color: #FCA70B;
  }
  
  @media only screen and (max-width: 768px) {
      #Footer{
          padding-bottom: 90px;
          text-align: center !important;
      }
      .footer_copy{
          text-align: center !important;
      }
      .copyright{
          text-align: center !important;
      }
      .scale-with-grid .wp-post-image{
          min-height: 200px !important;
      }
      .alert {
          padding: 0 !important;
      }
      .btn-social {
          padding-top: 6px; /* Some padding */
        }
      .social_span{
          text-align: center !important;
      }
      .error {
          color: #ff0000 !important;
      }
      .textwidget {
          text-align: center !important;
      }
  
      .textwidget .custom-html-widget {
          text-align: center !important;
      }
  
  }